<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_with  model: @user do |form| %>
<%= form.text_field :Name , placeholder: "name" %>
<%= form.text_field :Age , placeholder: "age" %>
<%= form.submit %>
<% end %>
