<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<%= text_field_tag :search, "" , remote: true, class:"search_book" %>
<div class="book_tbody_content">
	<%= render partial: 'index_content' %>
</div>

<script type="text/javascript">	
    $(".search_book").keyup(function(){
    	var src = $(".search_book").val();
        $.ajax({
          type:'GET',
          url:"/books",
          dataType:'script',
          data: {src: src},         
          success: function(data){            
          },
          error: function(data){
          	alert(data.msg)
          }
        });
    });
    
</script>